/*** common ***/
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*** login start ***/
.full-screen {
    width: 100%;
    height: 100%;
    position:absolute;
    overflow: hidden;
}

.login-form {
    width: 600px;
    height: 450px;
    margin: 20% auto 0 auto;
}

.login-form .login-btn {
    width: 30%;
}
.login-box .second-box{
    display:none;
}
.login-box .first-box{
    margin: 20% auto 0px auto;
    color: #fff;
    text-align: center;
}
.login-box .first-box span{
    font-size:36px;
    padding:5px 10px;
    cursor:pointer;

    border: 1px solid white;
    transform: skewX(-20deg);
    height: 32px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    transition: .10s ease-out;
}
/*** login end ***/

/*** skin ***/
.layui-btn {
    background-color: #636161;
}

.layui-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}