<style>html, body {overflow: hidden;}</style>
<div class="full-screen login-box">
    <div class="first-box">
        <div class="button shift-camera-button">
            <div class="border">
                <div class="left-plane"></div>
                <div class="right-plane"></div>
            </div>
            <div class="text">To Te Sign In</div>
        </div>
    </div>
    <div class="login-form second-box">
        <form action="/admin/user/login" method="post" class="layui-form ajax-form" cb="">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="u" lay-verify="required" placeholder="输入用户名" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="p" lay-verify="required" placeholder="输入密码" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn login-btn fr" lay-submit>登陆</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src='__STATIC__/bgFx/js/TweenMax.min.js'></script>
<script src='__STATIC__/bgFx/js/three.min.js'></script>
<script src="__STATIC__/bgFx/js/login.js"></script>